section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
    margin: 150px auto 0px;
    height: fit-content;
    min-height: 500px;
}

#category-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.category-item {
    width: 25%;
}
.category-item>a>img{
    width: 100%;
}
.category-item>a{
    cursor: pointer;
}
.category-item>a>img:hover{
    transform: scale(1.2);
    object-fit: cover;
}
