section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
    margin: 150px auto 0px;
    height: fit-content;
    min-height: 500px;
}

#requestDetail-form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 100px;
}

section > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 100px;
}

.profileSelect {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 26%;
    height: 100%;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    font-size: 2em;
}

.profileSelect > div {
    width: 100%;
    height: 100%;
    min-height: 50px;
}

.unselected {
    border-bottom: 1px solid gray;
    color: black;
    background-color: #F8F8F8;
}

.selected {
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    background-color: #41c47b;
}

.selected > a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.unselected > a, .selected > a {
    font-size: 0.6em;
}

a:not(#tbTitleA, .selected>a, #credit-btn, #delete-btn) {
    text-decoration: none;
    cursor: pointer;
    color: gray;
    transition: color 0.3s ease;
}

a:hover:not(#tbTitleA:hover, .selected>a, #credit-btn, #delete-btn, #modifyUser, #modifyMoney) {
    color: #41c47b;
}

#credit-btn, #delete-btn {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#modifyUser:hover, #modifyMoney:hover {
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    color: white;
}

.profileSelect > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileForm {
    width: 70%;
    height: 100%;
    min-height: 200px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profileForm > div:first-child, .requestListForm > div:first-child, .detailForm > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding-top: 20px;
    border-bottom: 2px solid gray;
}

.profileForm > div:first-child > div:last-child, .requestListForm > div:first-child > div:last-child, .detailForm > div:first-child > div:last-child {
    display: flex;
    flex-direction: row;
}

.profileForm > div:first-child > div:last-child > h4, .requestListForm > div:first-child > div:last-child > h4, .detailForm > div:first-child > div:last-child > h4 {
    padding-right: 5px;
    color: gray;
}

.profileForm > div:last-child {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profileForm > div:last-child > div:first-child {
    width: 30%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.profileForm > div:last-child > div:last-child {
    width: 70%;
    height: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    padding-top: 5%;

}

a > img {
    max-width: 100%;
    max-height: 160%;
}

.profileForm > div:last-child > div:last-child > div:first-child {
    width: 60%;
    height: 100%;
    padding-left: 10%;
}

.profileForm > div:last-child > div:last-child > div:last-child {
    width: 30%;
    height: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileForm > div:last-child > div:last-child > div:first-child > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    min-height: 100px;
}
.profileForm > div:last-child > div:last-child > div:first-child > div>div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5%;
}

.profileForm > div:last-child > div:last-child > div:first-child > div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 100px;
}

.profileForm > div:last-child > div:last-child > div:last-child > div:last-child {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.profileForm > div:last-child > div:last-child > div:last-child > div:last-child > div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profileForm > div:last-child > div:last-child > div:first-child > div:last-child > div {
    width: 49%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileForm > div:last-child > div:last-child > div:first-child > div:last-child > div > a {
    padding: 10px 35px;
    border: 1px solid gray;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.profileForm > div:last-child > div:last-child > div:first-child > div:last-child > div > a:hover {
    background-color: #41c47b;
    color: white;
}

#moneyLogo {
    width: 50%;
    height: 50%;
}

#userCredit {
    font-size: 1.2em;
}

.requestListForm {
    width: 70%;
    min-height: 500px;
    max-height: 500px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}

.detailForm {
    width: 70%;
    min-height: 500px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fcfbf4;
}

.requestListForm > div:last-child {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

#requestListTb {
    width: 100%;
    height: fit-content;
    border-collapse: collapse;
}

#tbTitle {
    background-color: #41c47b;
    color: white;
    text-align: center;
    height: 50px;
}

#requestListTb td:nth-child(2) {
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden; /* 내용 숨기기 */
    text-overflow: ellipsis; /* 생략 부호(...)로 표시 */
}

#requestListTb td:nth-child(1) {
    width: 10%;
}

.tbContentTitle {
    border-bottom: 1px solid black;
    text-align: center;
    height: 100px;
}

#requestListTb td:nth-child(5), #requestListTb td:nth-child(6) {
    width: fit-content;
}

#tbTitleA {
    text-decoration: none;
    cursor: unset;
    color: black;
}

.tbBtn {
    padding: 8px 5px;
    border: 1px solid #41c47b;
    background-color: white;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}

.tbBtn:hover {
    color: white;
    background-color: #41c47b;
}

#noResponse > td {
    padding-top: 100px;
    text-align: center;
    min-height: 300px;
}

#delContent {
    width: 70%;
    height: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

span {
    color: orangered;
}

.profileForm > div:last-child > div:last-child > div:first-child > div > h2 {
    padding-bottom: 5%;
}

.detailForm > div:last-child {
    width: 90%;
    height: 100%;

}

.detailForm > div:last-child > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

#checkStatus {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #41c47b;
    color: white;
    min-height: 50px;
    justify-content: space-around;
}

#checkStatus > div {
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#requestContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: fit-content;
    padding-top: 5%;
    border: 1px solid #41c47b;
    background-color: #faf8ea;

}

#requestContent > div:first-child {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

#requestContent > div:first-child > div > input {
    border: none;
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: #faf8ea;
}


#requestContent > div:last-child {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#requestContent > div:last-child > div:first-child {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    width: 100%;
}

#requestContent > div:last-child > div:first-child > textarea {
    height: fit-content;
    width: 100%;
    border: none;
    padding-top: 2%;
    font-size: 2em;
    resize: none;
    background-color: #faf8ea;
}

#requestContent > div:last-child > div:last-child {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#requestContent > div:last-child > div:last-child > textarea {
    padding-top: 2%;
    min-height: 150px;
    width: 111%;
    max-height: 300px;
    overflow: auto;
    font-size: 1.5em;
    resize: none;
    border: none;
    background-color: #faf8ea;
}

#yesButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#yesButton > input, #yesButton > form > button{
    width: 100%;
    height: 100%;
    min-height: 50px;
    color: white;
    background-color: #41c47b;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid gray;
}
#yesButton > form{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200%;

}


#yesButton > input:hover, #yesButton > form > button:hover{
    color: white;
    background-color: #349a57;
}

#yesBottom {
    width: 100%;
    background-color: #41c47b;
    color: white;
}

#userName, #userId{
    border: none;
}
#checkApply, #checkSuccess, #checkComplete{
    text-align: center;
    width: fit-content;
}

#status{
    margin: 3%;
    width: 100%;
    text-align: center;
}

#status>h3{
    font-size: 1.2em;
    width: 100%;
}

#starPointCheck>div:first-child{
    text-align: center;
}

.profileForm > div:last-child > div:last-child > div:first-child > div>div>input,.profileForm > div:last-child > div:last-child > div:first-child > div>div>select{
    width: 150px;
}

#previewImage {
    width: 100%;
}
#agentImage{
    display: none;
}

#introduce-update{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}
#introduce-update>textarea {
    resize: none;
    width: 100%;
    min-height: 300px;
    padding: 3% ;
    font-size: 1.3em;
}
#introduce-update>h3{
    padding-bottom: 5%;
}
